#myform{
	width: 500px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
}




input.form-control{
	margin-bottom: 15px;
}


.form-control {
    border: 1px solid #edeff0!important;
    }


.summer-training{
	padding: 20px 0;
}    

@media screen and (max-width: 600px) {	
	#myform{
		width: 300px;
	}
}

.logo {
    color: #3862a2;
    font-weight: 500;
    font-size: 40px;
    font-family: initial;
    padding: 20px
}